  <div class="frtoolbar">
    <div class="space"></div>
    <div class="tr">
    	<!--#echo var="export-menu"-->
    	<!--#echo var="print-menu"-->
    	<!--#echo var="zoom-menu"-->
    	<!--#echo var="settings-menu"-->
    	<!--#echo var="refresh-button"-->
    	<!--#echo var="navigation"-->
     </div>
     <div class="tr" style="float:right">
    	<!--#echo var="search"-->
    	<div class="td divider">&nbsp;</div>
    </div>        
    <!--#echo var="tabs"-->
    <!--#echo var="reportid"-->   
  </div>
